In [3]:

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("sysselsattning.csv", encoding ="ISO-8859-1", header=1)
df = df.fillna(0)
df

          sysselsättning     ålder      kön    2019
0      förvärvsarbetande  16-19 år      män   58826
1      förvärvsarbetande  16-19 år  kvinnor   72847
2      förvärvsarbetande  20-24 år      män  192696
3      förvärvsarbetande  20-24 år  kvinnor  174074
4      förvärvsarbetande  25-29 år      män  293352
5      förvärvsarbetande  25-29 år  kvinnor  268587
6      förvärvsarbetande  30-34 år      män  303019
7      förvärvsarbetande  30-34 år  kvinnor  271975
8      förvärvsarbetande  35-39 år      män  280522
9      förvärvsarbetande  35-39 år  kvinnor  255391
10     förvärvsarbetande  40-44 år      män  275085
11     förvärvsarbetande  40-44 år  kvinnor  260093
12  ej förvärvsarbetande  16-19 år      män  176860
13  ej förvärvsarbetande  16-19 år  kvinnor  143432
14  ej förvärvsarbetande  20-24 år      män  117928
15  ej förvärvsarbetande  20-24 år  kvinnor  103001
16  ej förvärvsarbetande  25-29 år      män   86633
17  ej förvärvsarbetande  25-29 år  kvinnor   91124
18  ej förvärvsarbetande  30-34 år      män   64162
19  ej förvärvsarbetande  30-34 år  kvinnor   76735
20  ej förvärvsarbetande  35-39 år      män   53373
21  ej förvärvsarbetande  35-39 år  kvinnor   61312
22  ej förvärvsarbetande  40-44 år      män   46857
23  ej förvärvsarbetande  40-44 år  kvinnor   49228

In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("archive.csv", encoding ="ISO-8859-1", header=1)
df = df.fillna(0)
df["Total"] = df.sum(axis=1)
df

,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the laws of chemical dynamics and osmotic pressure in solutions""",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin.1,Germany.1,Total
0,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,0,0,0,1907-09-07,ChÃ¢tenay,France,2470
1,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany,2194
2,1901,Peace,The Nobel Peace Prize 1901,0,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,0,0,0,1910-10-30,Heiden,Switzerland,2363
3,1901,Peace,The Nobel Peace Prize 1901,0,1/2,463,Individual,FrÃ©dÃ©ric Passy,1822-05-20,Paris,France,Male,0,0,0,1912-06-12,Paris,France,2364
4,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",1/1,1,Individual,Wilhelm Conrad RÃ¶ntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany,1902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,2016,Medicine,The Nobel Prize in Physiology or Medicine 2016,"""for his discoveries of mechanisms for autophagy""",1/1,927,Individual,Yoshinori Ohsumi,1945-02-09,Fukuoka,Japan,Male,Tokyo Institute of Technology,Tokyo,Japan,0,0,0,2943
964,2016,Peace,The Nobel Peace Prize 2016,"""for his resolute efforts to bring the country...",1/1,934,Individual,Juan Manuel Santos,1951-08-10,BogotÃ¡,Colombia,Male,0,0,0,0,0,0,2950
965,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",1/2,928,Individual,David J. Thouless,1934-09-21,Bearsden,United Kingdom,Male,University of Washington,"Seattle, WA",United States of America,0,0,0,2944
966,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",1/4,929,Individual,F. Duncan M. Haldane,1951-09-14,London,United Kingdom,Male,Princeton University,"Princeton, NJ",United States of America,0,0,0,2945
967,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",1/4,930,Individual,J. Michael Kosterlitz,1943-06-22,Aberdeen,United Kingdom,Male,Brown University,"Providence, RI",United States of America,0,0,0,2946

In [9]:
#3 
import pandas as pd
import matplotlib.pyplot as plt
   
df = pd.read_csv("archive.csv", encoding ="ISO-8859-1", header=1)
df = df.fillna(0)

df = pd.archive(data,columns=[])
df.plot(x ='Unemployment_Rate', y='Stock_Index_Price', kind = 'scatter')
plt.show()

AttributeError: module 'pandas' has no attribute 'archive'